@import "../../../styles/variables.scss";

.button {
  width: 6rem;
  height: 6rem;
  border: $border;
  border-radius: 5px;
  padding: 1.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: $color-white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;

  &:not(:disabled):hover {
    background-color: $color-grey-light;
  }

  &.selected {
    color: #fff;
    background-color: $color-black;
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

/* *************************************** */
/* Media Style */
/* *************************************** */
/* Default work done at 2560px */

/* Extra Large 1729px ~ 1920px */
@media only screen and (max-width: 1920px) {
}

/* Large laptop to Desktop: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
}

/* Medium Tablet to Laptop: 848px ~ 1323px */
@media only screen and (max-width: 1323px) {
}

/* Small Phone to Tablet: 403px ~ 847px */
@media only screen and (max-width: 1050px) {
}

/* Extra small phone to Phone: 0px ~ 402px */
@media only screen and (max-width: 840px) {
}

/* Extra small phone to Phone: 0px ~ 402px */
@media only screen and (max-width: 720px) {
}

/* Extra small phone to Phone: 0px ~ 402px */
@media only screen and (max-width: 670px) {
}

/* Extra small phone to Phone: 0px ~ 402px */
@media only screen and (max-width: 502px) {
  .button {
    font-size: 2.1rem;
  }
}

@media only screen and (max-width: 350px) {
}
