@import '../../../styles/variables.scss';

.button {
  padding: 0.9rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  border: $border;
  border-radius: $radius;
  background-color: $color-white;
  transition: transform 0.2s linear;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);

  .lighter {
    font-weight: 400;
    font-size: 1.15rem;
  }

  &.product-qty-button {
    gap: 0.1rem;
    background-color: $color-primary;
  }

  &.product-qty-button:hover {
    background-color: $color-primary;
  }

  &.selected {
    background-color: $color-primary;
  }

  &:hover:not(:disabled) {
    background-color: $color-grey-light;
    transform: translateY(-3%);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

  }

  &.btn-pay:disabled {
    background-color: #d8d8d8;
  }
}