.div {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
/* *************************************** */
/* Media Style */
/* *************************************** */
/* Default work done at 2560px */

/* Extra Large 1729px ~ 1920px */
@media only screen and (max-width: 1920px) {
}

/* Large laptop to Desktop: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
}

/* Medium Tablet to Laptop: 848px ~ 1323px */
@media only screen and (max-width: 1323px) {
}

/* Small Phone to Tablet: 403px ~ 847px */
@media only screen and (max-width: 1050px) {
  .div {
    grid-area: payment;
  }
}

/* Extra small phone to Phone: 0px ~ 402px */
@media only screen and (max-width: 402px) {
}
