@import "../../../styles/variables.scss";

.div {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -60%);
  width: 100%;
  z-index: 2;
  background-color: #fff;
  padding: 1.8rem;
  text-transform: none;
  border: 2px solid $color-black;
  border-radius: $radius;

  div {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
  }
}

.confirmation {
  font-size: 1.6rem;
  font-weight: 500;
}