@import "../../../../styles/variables.scss";

.div {
  max-width: 45rem;

  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  span.fail {
    color: $color-red;
    border-color: $color-black;
  }

  .fail-message {
    margin: 1.5rem 0 3rem;
    font-size: 1.9rem;
    padding-left: 3.8rem;
    font-style: italic;
    text-align: center;
  }

  .text {
    flex: 1;
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;
  }
}
