/* Drawer Styles */
.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: flex-end; /* Slide from right */
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

.drawer {
  background-color: var(--white);
  width: 450px; /* Adjust width as needed */
  height: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Add scroll if content overflows */
  position: relative; /* For positioning the close button */
}

.drawer-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.item-details {
  display: flex;
  align-items: start; /* Align image and info */
  margin-top: 10px;
}

.item-details .furfy-image {
  width: 9rem;
  height: 9rem;
  margin-right: 10px;
  border-radius: 7px;
}

.item-info {
  flex: 1; /* Allow info to take up remaining space */
}

.cart-quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--white);
  color: var(--black);
  border: 3px solid black;
  border-radius: 20px;
  font-size: 20px;
  padding: 0px 10px;
  width: fit-content;
  border: 1.3px solid #999;
  border-radius: 7px;
  color: #ddd;
  align-items: center;
}
.cart-quantity-selector button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--black);
}
.cart-quantity-selector span {
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 1.7rem;
  padding: 0;
  background-color: #fff;
  color: #666;
}

.checkout-details {
  border-top: 1.5px solid #4b4b4b;
  padding-top: 20px;
}

.item-price {
  font-size: 1.6rem;
}
