#drop-in-menu {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  transform: translate(0) translateY(0);
  background-color: #fff;
  border-radius: 80%;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  box-shadow: 0 0 30px #00000080;
  z-index: 999;
}

#drop-in-menu.open {
  border-radius: 80%;
  width: 700px;
  height: 700px;
  transform: translate(-375px) translateY(-180px);
  -webkit-transform: translateX(-375px) translateY(-180px);
  top: 140px;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
  z-index: 998;
}

.main-menu {
  color: #000;
  position: absolute;
  left: 4%;
  margin: 10px;
  transform: translate(-100px) translateY(0);
  z-index: 1001;
  opacity: 0;
  transition: 0.1s ease-in-out;
  text-align: left;
}

.main-menu.open {
  opacity: 1;
  transform: translate(0) translateY(0);
  transition: 0.3s 0.2s ease-in-out;
}

.menu-items {
  padding: 0;
}

.menu-items li {
  display: block;
  height: 100%;
  list-style: none;
  padding: 12px 0;
  font-size: 20px;
}
.drawer-hamburger {
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 2222;
}
/* Hamburger Button */
#hamburger1,
#hamburger2 {
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
  width: 40px;
  height: 40px;
}

#bar1,
#bar2,
#bar3 {
  margin: 5px 0;
  border-bottom: 4px solid black;
  width: 35px;
  transition: 0.2s ease-in-out;
}

.open #bar1 {
  transform: translateY(6px) rotate(45deg) !important;
}

.open #bar2 {
  opacity: 0 !important;
}

.open #bar3 {
  transform: translateY(-6px) rotate(-45deg) !important;
}

.circle-badge {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 19px;
  height: 19px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
}
