.button {
  font-size: 1.3rem;
  font-weight: 400;
  border-bottom: 1.5px solid;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  background-color: transparent;
  border-bottom: 1.5px solid;
}