@import "../../../styles/variables.scss";

.button-scatbags {
  background-color: $color-white;
  border: $border;
  border-radius: $radius;
  display: flex;
  align-items: center;

  button {
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
  }

  input {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    border: none;
    outline: none;
    width: 6rem;
  }
}