@import "../../../styles/variables.scss";

.footer {
  background-color: $color-black;
  padding: 5rem 0;
  margin-top: 160px;

  .inner-container {
    display: flex;
    justify-content: space-between;
    color: $color-white;

    article {
      display: flex;
      gap: 2.5rem;

      & > div {
        width: 130px;
      }
    }
  }

  h4 {
    text-transform: uppercase;
    color: $color-primary;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  li:hover {
    color: $color-primary;
  }

  .link-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;

    li {
      padding-bottom: 0.8rem;
      border-bottom: 1px solid $color-white;

      &:hover {
        border-bottom-color: $color-primary;
      }
    }

    a {
      display: inline-block;
      width: 100%;
    }

    li,
    button {
      text-transform: capitalize;
      font-size: 1.8rem;
      font-weight: 700;
    }

    button {
      font-size: inherit;
    }
  }

  .social-list {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    margin-top: 2rem;

    li:hover {
      background-color: $color-black;
      color: $color-primary;

      &:hover {
        border-bottom-color: $color-primary;
      }
    }

    a {
      font-size: 3rem;
    }

    li:last-of-type a {
      font-size: 2.2rem;
    }
  }

  .image-container {
    align-self: flex-end;
    text-align: center;

    img {
      margin-bottom: 1rem;
      width: 7.4rem;
      height: auto;
    }
  }

  .company-list-box {
    width: 296px;
  }

  .company-list {
    li {
      border-bottom: 1px solid transparent;
      padding-bottom: 0.5rem;

      &:hover {
        border-bottom-color: $color-primary;
      }

      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
    }

    a {
      font-weight: 700;
      margin-right: 0.5rem;
      display: inline-block;
      width: 100%;
    }

    .hyphen {
      margin: 0 0.7rem;
    }

    .link-desc {
      opacity: 0.7;
      font-style: italic;
      font-weight: 400;
    }
  }
}

/* *************************************** */
/* Media Styles */
/* *************************************** */
/* Extra Large 1729px ~ 1920px */
@media only screen and (max-width: 1920px) {
}

/* Default work done at 1704px */
/* Large: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
}

/* Medium-2: 1051px ~ 1323px */
@media only screen and (max-width: 1323px) {
}

/* Medium-1: 751px ~ 1050px */
@media only screen and (max-width: 1050px) {
  .footer {
    .inner-container {
      flex-direction: column;
      align-items: center;
      gap: 4rem;

      > div {
        width: 85%;
      }

      article {
        justify-content: space-between;

        & > div,
        & > ul {
          width: 45%;
        }
      }
    }

    .image-container {
      align-self: auto;
      order: 1;
    }
  }
}

/* Small: 403px ~ 750px */
@media only screen and (max-width: 750px) {
}

/* Extra Small: 0px ~ 402px */
@media only screen and (max-width: 502px) {
  .footer {
    .inner-container {
      > div {
        width: 96%;
      }
    }
  }
}
