/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/common/header.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
#drop-in-menu {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  transform: translate(0) translateY(0);
  background-color: #fff;
  border-radius: 80%;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  box-shadow: 0 0 30px #00000080;
  z-index: 999;
}

#drop-in-menu.open {
  border-radius: 80%;
  width: 700px;
  height: 700px;
  transform: translate(-375px) translateY(-180px);
  -webkit-transform: translateX(-375px) translateY(-180px);
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
  z-index: 998;
}

.main-menu {
  color: #000;
  position: absolute;
  left: 4%;
  margin: 10px;
  transform: translate(-100px) translateY(0);
  z-index: 1001;
  opacity: 0;
  transition: 0.1s ease-in-out;
  text-align: left;
}

.main-menu.open {
  opacity: 1;
  transform: translate(0) translateY(0);
  transition: 0.3s 0.2s ease-in-out;
}

.menu-items {
  padding: 0;
}

.menu-items li {
  display: block;
  height: 100%;
  list-style: none;
  padding: 12px 0;
  font-size: 20px;
}

/* Hamburger Button */
#hamburger {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1000;
  width: 40px;
  height: 40px;
}

#bar1,
#bar2,
#bar3 {
  margin: 5px 0;
  border-bottom: 4px solid black;
  width: 35px;
  transition: 0.2s ease-in-out;
}

.open #bar1 {
  transform: translateY(6px) rotate(45deg) !important;
}

.open #bar2 {
  opacity: 0 !important;
}

.open #bar3 {
  transform: translateY(-6px) rotate(-45deg) !important;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/common/table.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 27px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.51);
  }
  
  table {
    border-collapse: collapse;
    width: 100%; 
  }
  
  .table-header {
    font-size: 13px;
    font-weight: 900;
    color: var(--gray);
    text-align: center;
  }
  
  th {
    padding: 12px;
  }
  
  td {
    padding: 12px;
    border-bottom: 1px solid var(--light-gray);
  }
  
  tr:last-child td {
    border-bottom: none;
  }
  
  td:first-child {
    text-align: left;
    color: var(--gray);
    font-size: 16px;
    font-family: var(--font-family);
  }
  
  td:not(:first-child) {
    text-align: center;
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--gray);
  }


  /* Media Query for mobile */

  @media only screen and (max-width: 767px) {
    .table-container{
      display: block;
      overflow-x: auto;
    }
  }
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/home/index.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.icon-image {
    height: 100px;
    width: 100px;
    object-fit: contain;
}
.icon-text {
    font-size: 18px;
    font-weight: 700;
    line-height: var(--line-height-sm);
}

.flag-select{
    width: 40%;
}


@media (max-width: 1024px) { /* Tablets */
    .flag-select{
        width: 60%;
    }
  }


  /* Media Query for mobile */

  @media only screen and (max-width: 767px) {
    .icon-image{
        height: 70px;
        width: 50px;
    }
    .icon-text{
        font-size: 11px;
    }
  }
