@import "../../../styles/variables.scss";

.phone-input-wrapper {
  border: 2px solid rgba(86, 106, 85, 0.5);
  border-radius: $radius;
  background-color: $color-white;
  display: flex;
  flex-direction: row !important;
  gap: 0 !important;
  position: relative;

  .phone-input {
    background-color: transparent;
    font-size: 1.8rem;
    border: none;
    outline: none;
    height: auto;
    padding: 1.2rem 1.5rem 1.2rem 6.6rem;
    color: inherit;
    overflow: hidden;
    flex-grow: 1;
    border-radius: $radius;


    &:disabled {
      color: #000;
    }

    &:focus {
      background-color: transparent;
    }
  }

  &:focus-within {
    border-color: $color-black;
    box-shadow: inset 3px 3px 12px rgba(0, 0, 0, 0.2);
  }

  &--disabled {
    opacity: 0.7;
  }

  &--validated {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;

    .phone-input {
      background-color: rgba(255, 255, 255, 0);
    }
  }

  .flag-select {
    padding-bottom: 0px !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
   }

  button {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 20px !important;
    border-radius: $radius;

    span:first-of-type{
        padding: 0px 2px;
    }
    &:hover {
      background-color: transparent;
    }
  }
}
