@import "../../../../styles/variables.scss";

.status-box {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;

  > span {
    color: $color-grey-dark;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .pill-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }
}
