.icon-image {
    height: 100px;
    width: 100px;
    object-fit: contain;
}
.icon-text {
    font-size: 18px;
    font-weight: 700;
    line-height: var(--line-height-sm);
}

.flag-select{
    width: 40%;
}


@media (max-width: 1024px) { /* Tablets */
    .flag-select{
        width: 60%;
    }
  }


  /* Media Query for mobile */

  @media only screen and (max-width: 767px) {
    .icon-image{
        height: 70px;
        width: 50px;
    }
    .icon-text{
        font-size: 11px;
    }
  }