.input {
  width: 100%;
  background-color: #fff;
  border: 2px solid rgba(86, 106, 85, 0.5);
  border-radius: 7px;
  padding: .9rem 1.5rem;
  flex: 1 1 0%;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  transition: all 0.1s linear 0s;
  outline: none;

  &:focus {
    border-color: #333;
    box-shadow: inset 3px 3px 12px rgba(0, 0, 0, 0.15);

    + label,
    ~ label {
      position: absolute;
      top: -1.8rem;
      font-size: 1.3rem;
      color: inherit;
    }
  }

  &:disabled {
    opacity: 0.7;
  }
}

.address-autocomplete {
  position: relative !important;
  width: 100%;
}

.address-autocomplete__suggestions {
  padding: 0;
  background: white;
  border-radius: 3px;
  z-index: 10;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.09);
  list-style: none;
  width: 100%;
}

.address-autocomplete__suggestions__item__custom {
  font-size: 1.8rem !important;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  text-overflow: ellipsis;
}